<% provide(:title, 'home') %>
<div id="wrapper">
  <div class="center jumbotron">
    <img src="IMG-7470.JPG" alt="" width="300" height="300" style="transform: rotate(90deg);transform-origin:righttop;">
    <h1>PORTFOLIO</h1>
    <p>~katagiri yuta~</p>
    <nav id="gnav" class>
      <ul>
        <li>
          <a href="#latestworks">LATEST WORKS</a>
        </li>
        <li>
          <a href="#about">ABOUT</a>
        </li>
        <li>
          <a href="#skill">SKILL</a>
        </li>
        <li>
          <a href="#contact">CONTACT</a>
        </li>
      </ul>
    </nav>
  </div>

  <main id="contents" style="margin-top:0px;">
    <section class="section" id="latestworks" style="padding-top:21.5px;">
      <div class="inner">
        <div class="section-title-block">
          <h2 class="section-title">LATEST WORKS</h2>
          <p class="section-desc">最新の制作実績です。</p>
        </div>
        <div class="two-column-wrapper">
        <div class="two-column-desc">
          <p class="text">
            作品タイトル: 『ECサイトの商品詳細ページ』
            <br>
            制作期間: 1ヶ月
            <br>
            Bitbucket
            <a href="https://bitbucket.org/KatagiriYuta/potepanec/src/master/">https://bitbucket.org/KatagiriYuta/potepanec/src/master/</a>
            <br>
            <br>
            solidusの構造理解に苦戦、後半になるにつれ使い方が分かってきた。
            <br>
            railsチュートリアルを終え、インスタグラムクローンも未熟ながら終えた私は少しずつWeb制作において自信を持ち始めていた。しかしこの課題を始めてすぐにその自信は崩壊する。solidusの使い方がよくわからず、ソースコードを見ても分からないという状態が続いた。ネット上にも情報は少なく、どうした良いものか頭を抱えた。そんな時、私にとってバイブルとなったのがRailsチュートリアルであり、書籍『基礎Ruby on rails』であり、最初は意味不明だったsolidusのソースコードだった。どんなに複雑な関係を持ったWebサイトでも、基本はRailsチュートリアルで学んだ基礎が土台になっており、そこを疎かにしては立ち行かないことを痛感した。結果的に形にはなったが、速度としては遅いと思った。ただ、苦労したからこそ達成感があったし、学べた点も多かったと思う。
  　      </p>
          <p class="text">
            作品タイトル:『インスタグラムクローン』
            <br>
            制作期間: 2週間
            <br>
            Bitbucket
            <a href="https://bitbucket.org/KatagiriYuta/instagram_katagiri/src/master/">https://bitbucket.org/KatagiriYuta/instagram_katagiri/src/master/</a>
            <br>
            <br>
            初めて取り組んだWeb制作。
            <br>
            期限が2週間という中、Railsチュートリアルで学んだ基礎を最大限活かした。ただ、チュートリアルの内容を追いかける事と実際に制作することには大きな壁があり、その壁は一朝一夕には乗り越えられるものではないと痛感した。インプットとアウトプットの両輪が、プログラミング力をつけるには必要と言われるが、アウトプットの部分が圧倒的に足りていないと実感した。また、インデントを指摘される事が多かったので、これ以降はインデントの崩れに注意するようになった。一つのページを作成するのと、アプリケーションとして複数のページを関連付けることや機能をつけることは全く別のベクトルの力が要求される。インスタグラムクローンの出来自体は酷いものとなってしまったが、初めてのWeb制作ということで、大きな一歩を踏み出せた。
  　      </p>
          <p class="text">
            作品タイトル: 『ミニタスク投稿サイト』
            <br>
            制作期間: 1日
            <br>
            Bitbucket
            <a href="https://bitbucket.org/KatagiriYuta/original.app/src/master/">https://bitbucket.org/KatagiriYuta/original.app/src/master/</a>
            <br>
            <br>
            投稿の一覧、新規、編集、削除について理解が深まった。
            <br>
            簡単なアプリケーションを作ることで、基礎知識を定着させたいと思った。簡単なアプリなら短時間で作れ、railsの威力を再確認した。
  　      </p>
        </div>
      </div>
    </section>
    <section class="section" id="about" style="padding-top:21.5px;">
      <div class="inner">
        <div class="section-title-block">
          <h2 class="section-title">ABOUT</h2>
          <p class="section-desc">
          片桐優太と申します。</p>
          <img src="IMG-2255.JPG" alt=""　width="250" height="250">
          <img src="IMG-1128.jpg" alt=""　width="180" height="250">
          <img src="IMG-1166.JPG" alt=""　width="180" height="250">
        </div>
      <div class="two-column-wrapper">
      <div class="two-column-desc">
        <p class="text">
          私は、北海道釧路市出身の27歳です。前職は証券会社で営業をしておりました。子供の頃は粘土で何かを作ったり、空き地で砂の街を作ったりと、創造力が必要とされる遊びが大好きでした。今でもその精神は変わっておらず、とにかく自分のアイディアを活かす事や自分の世界観を作り出すことに興味が惹かれます。プログラマー転職を志したのもその理由からで、自分のアイディアを活かせ、多くの人に影響を与え、多くの学びを得ることができると考えたためです。学びを得ることもまた、小さい頃から大好きで、貪欲に知識を吸収する方でした。将来的には、データ分析に関わる業務に携わりたいと考えています。そのためにも多くの経験を積んで、多くの人の手助けができるような仕事に邁進していきたいと考えています。
        </p>
      </div>
    </div>
  </section>
  <section class="section" id="skill" style="padding-top:21.5px;">
    <div class="inner">
      <div class="section-title-block">
        <h2 class="section-title">SKILL</h2>
        <p class="section-desc">
        railsを中心に学んできました！</p>
      </div>
      <div class="card-wrapper">
        <div class="card">
          <div class="skill-desc">
            <h3 class="skill-desc-title">HTML/CSS/JavaScript</h3>
          <p class="text">Progate[HTML&CSS初級編/中級編/上級編x2周  JavaScript 1/2/3]
          <br>HTML & CSS & JavaScript辞典</p>
          </div>
        </div>
        <div class="card">
          <div class="skill-desc">
            <h3 class="skill-desc-title">Ruby/Ruby on Rails</h3>
          <p class="text">Progate[Ruby1/2/3/4/5x2周 Ruby on Rails5 学習コース全て]
          <br>Railsチュートリアル2周
          <br>基礎Ruby on rails 5周
          <br>プロを目指す人のためのRuby入門
        </div>
        <div class="card">
          <div class="skill-desc">
            <h3 class="skill-desc-title">その他</h3>
          <p class="text">Progate[Command Line 基礎編/Git1/SQL1~3/]
          <br>Webを支える技術
          <br>いちばんやさしいWordPressの教本 : 人気講師が教える本格Webサイトの作り方 第3版
          <br>これからデータ分析を始めたい人のための本</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section" id="contact" style="padding-top:21.5px;">
    <div class="inner">
      <div class="section-title-block">
        <h2 class="section-title">CONTACT</h2>
        <p class="section-desc">
        お問い合わせは下記のメールアドレスにご連絡下さい。</p>
      </div>
      <div class="contact-wrapper">
        <p class="contact">
        naruhodou946@gmail.com
        <br>080-1883-5898</p>
      </div>
    </div>
  </section>
</div>
