<h1>INSTABOON</h1>

<p>こんにちは！ <%= @user.name %>さん,</p>

<p>
ようこそINSTABOONへ！こちらのリンクをクリックして、あなたのアカウントを利用可能にしましょう:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
