<h1>パスワードのリセット</h1>

<p>パスワードをリセットするには以下のリンクをクリックして下さい:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクの有効期限は2時間です。</p>

<p>
もしあなたが、パスワードのリセットをリクエストしていなければ、このメールを無視して下さい。
パスワードは従来のままです。
</p>
