// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";

/* library */
@import "bootstrap";

/* ここの行を追加 */
@import "font-awesome";

body{
  background-image: image-url("STOCKER1202067.jpg");
  height: 800px;
  background-size: cover;
  ul{
    list-style: none;
  }
  li{
    position: relative;
    left: -3%;
  }
}

main{
  color: white;
  h2{
    color: burlywood;
  }
  h3{
    color: darkcyan;
  }
}