<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "PORTFOLIO", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to "Yuta Katagiri", "/#about", id: "name" %>
      </ul>
    </nav>
  </div>
</header>